﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CaseShow.aspx.cs" Inherits="kehui.Client.CaseShow"  MasterPageFile="~/Frameworks/Client.master"%>
<asp:Content runat="server" ContentPlaceHolderID="head">案例展示</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <div>
        请在这里写“案例展示”相关内容
    </div>

    <script>
        document.getElementById("menu_CaseShow").className = "menulistitemHover";
    </script>
</asp:Content>
