﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="kehui.Client.Default" MasterPageFile="~/Frameworks/ClientHome.master"%>




<asp:Content runat="server" ContentPlaceHolderID="MainContent">

</asp:Content>







<asp:Content runat="server" ContentPlaceHolderID="NewsContent">
    <script src="News/GetNewsList.js"></script>
    <link href="News/NewsListStyle.css" rel="stylesheet" />
    <div style="width:960px; margin:10px auto;">
        <div id="NewsListPanel"></div>
    </div>
    <script>
        GetNews();
    </script>
</asp:Content>