﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MarketingScheme.aspx.cs" Inherits="kehui.Client.MarketingScheme"  MasterPageFile="~/Frameworks/Client.master"%>
<asp:Content runat="server" ContentPlaceHolderID="head">网络营销策划</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <div>
        请在这里写“网络营销策划”相关内容
    </div>


    <script>
        document.getElementById("menu_MarketingScheme").className = "menulistitemHover";
    </script>
</asp:Content>
