﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="StoreCooperation.aspx.cs" Inherits="kehui.Client.StoreCooperation" MasterPageFile="~/Frameworks/Client.master"%>
<asp:Content runat="server" ContentPlaceHolderID="head">网店合作</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <div>
        请在这里写“网店合作”相关内容
    </div>



    <script>
        document.getElementById("menu_StoreCooperation").className = "menulistitemHover";
    </script>
</asp:Content>
