﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="StoreDecoration.aspx.cs" Inherits="kehui.Client.StoreDecoration" MasterPageFile="~/Frameworks/Client.Master"%>
<asp:Content runat="server" ContentPlaceHolderID="head">店面装修</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <div>
        请在这里写“店面装修”相关内容
    </div>



    <script>
        document.getElementById("menu_StoreDecoration").className = "menulistitemHover";
    </script>
</asp:Content>