﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="StoreConstruction.aspx.cs" Inherits="kehui.Client.StoreConstruction" MasterPageFile="~/Frameworks/Client.master"%>
<asp:Content runat="server" ContentPlaceHolderID="head">网站建设</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <div>
        请在这里写“网站建设”相关内容
    </div>



    <script>
        document.getElementById("menu_StroreConstruction").className = "menulistitemHover";
    </script>
</asp:Content>
