﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WorksList.aspx.cs" Inherits="MyWebSite.Messages.WorksList" MasterPageFile="~/Masters/Default.Master"%>

<asp:Content runat="server" ContentPlaceHolderID="head">项目列表</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <script src="script/AjaxGetWorkList.js"></script>
    <ul id="WorkDataList">
        <%# Htmls %>
        <li onclick="GetMoreData()" id="DatGetState">···获取更多内容···</li>
    </ul>
    <%--<script>
        GetMoreData();
    </script>--%>
</asp:Content>