﻿body {
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 60px;
}
.iphone-wrapper {
    width: 229px;
    height: 482px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 24px;
}
.iphone-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.panel {
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.panel button {
    font-size: 1.5em;
    background-color: green;
    color: white;
    border-radius: 6px;
    padding: 8px;
}