﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Author.aspx.cs" Inherits="MyWebSite.AboutInfo.Author" MasterPageFile="~/Masters/Default.Master"%>
<asp:Content runat="server" ContentPlaceHolderID="head">关于作者</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <div style="text-align:center; margin:0px auto">
            <span style="font-size:64px">关于此站点作者的相关信息</span>
            <br/>
            <span style="font-size:64px">OmArea.COM</span>
            <p/>
            <h1>反馈邮箱：DevelopArea@outlook.com</h1>
            <h3>站长ＱＱ：119-163-4433</h3>
            <h3>联系电话：131-7863-8515</h3>
        </div>
</asp:Content>
