﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PutOnRecords.aspx.cs" Inherits="MyWebSite.AboutInfo.PutOnRecords" MasterPageFile="~/Masters/Default.Master"%>
<asp:Content runat="server" ContentPlaceHolderID="head">关于备案</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    <div style="text-align:center; margin:0px auto">
        <span style="font-size:64px">关于此站点作者的备案信息</span>
        <br />
        <span style="font-size:64px">OmArea.COM</span>
        <p />
    </div>
</asp:Content>
