﻿.AdminNavigation {
    list-style:none; font-size:25px; padding:0px; margin:0px; min-width:150px;
}
.AdminNavigation li:first-child {
        padding:10px 25px; margin:0px; text-align:left; font-size:15px;background:url(../../ImgSources/FrameWorkimages/bg_02.gif );color:#fff
}
.AdminNavigation li {
    padding:5px 10px;font-size:13px;text-align:center; background:#fff; color:#000;
}
.AdminNavigation li a {
    text-decoration:none; color:inherit;
}