﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminSubpage.master.cs" Inherits="kehui.Frameworks.AdminSubpage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder></title>
    <link href="ClientSubpage.Master.css" rel="stylesheet" />
    <link href="Admin.Master.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div style="position:fixed; width:100%; z-index:65535;top:0px; left: 0px;">
            <div id="topToolBar">
                <input type="button" id="topBarswitchBtn" onclick='var tb = document.getElementById("topBar"); if (tb.hidden) { tb.hidden = false; event.srcElement.value = ">>"; } else { tb.hidden = true; event.srcElement.value = "<<"; }' value=">>" class="tbtn0"/>
                <span id="topBar">
                    <asp:Button ID="tbtn_Home" PostBackUrl="~/Client/Default.aspx" runat="server" Text="首页" CssClass="tbtn"/>
                    <asp:Button ID="tbtn_Login" PostBackUrl="~/Client/Account/Login.aspx" runat="server" Text="登陆" CssClass="tbtn"/>
                    <asp:Button ID="tbtn_Register" PostBackUrl="~/Client/Account/Register.aspx"  runat="server" Text="注册" CssClass="tbtn"/>
                    <asp:Button ID="tbtn_LogOut" PostBackUrl="~/Client/Account/LogOut.aspx"  runat="server" Text="退出" CssClass="tbtn"/>
                </span>
            </div>
        </div>

        <div class="titleImg">
            <asp:Image runat="server" ImageUrl="~/ImgSources/FrameWorkimages/logo2.gif"/>
        </div>
        <div style="background:url( ../../ImgSources/FrameWorkimages/bg_02.gif ); ">
            <ul id="menulist">
                <li id="menu_Home"><a href="../../Client/Default.aspx">卓汇网首页</a></li>
                <li id="menu_StoreDecoration"><a href="../../Client/StoreDecoration.aspx">网店装修</a></li>
                <li id="menu_StoreCooperation"><a href="../../Client/StoreCooperation.aspx">网店合作</a></li>
                <li id="menu_StroreConstruction"><a href="../../Client/StoreConstruction.aspx">网店建设</a></li>
                <li id="menu_MarketingScheme"><a href="../../Client/MarketingScheme.aspx">网络营销策划</a></li>
                <li id="menu_CaseShow"><a href="../../Client/CaseShow.aspx">案例展示</a></li>
            </ul>
        </div>
        <br style="clear:both; float:none;"/>

        
        
        <div style="position:absolute; left:50px; right:50px;">
            <table style="width:100%">
                <tr>
                    <td style="vertical-align:top;padding:0px; border:0px">
                        <div style="height:auto; padding:10px; background:#343434">
                            <img src="../../ImgSources/FrameWorkimages/flogo.png" />
                        </div>
                        <ul class="AdminNavigation">
                            <li>权限管理</li>
                            <li><a href="#">我的权限</a></li>
                            <li><a href="#">分配权限</a></li>
                        </ul>
                        <ul class="AdminNavigation">
                            <li>任务管理</li>
                            <li><a href="#">我的任务</a></li>
                            <li><a href="#">分配任务</a></li>
                        </ul>
                        <ul class="AdminNavigation">
                            <li>客户管理</li>
                            <li><a href="#">用户转VIP</a></li>
                            <li><a href="#">用户充值</a></li>
                        </ul>
                        <ul class="AdminNavigation">
                            <li>服务管理</li>
                            <li><a href="#">新的服务</a></li>
                            <li><a href="#">服务调整</a></li>
                        </ul>
                        <ul class="AdminNavigation">
                            <li><a href="../../Admin/NewsManagement.aspx">站点新闻</a></li>
                            <li><a href="../../Admin/News/Admin_AddNews.aspx">发布新闻</a></li>
                            <li><a href="../../Admin/News/Admin_ManageNewsType.aspx">类型整改</a></li>
                        </ul>
                    </td>
                    <td style="vertical-align:top;">
                        <div id="MainPageHost">
                            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
                        </div>
                    </td>
                </tr>
            </table>

            <br style="clear:both; float:none;"/>
            <div id="footerbg">
                <div>
                    <div class="footnavigation">
                        <a href="http://www.dgzh12580.com/index.html">卓汇网</a>　|
                        <a href="http://www.dgzh12580.com/contact.html" target="_blank">联系合作</a>　|
                        <a href="#" target="_blank">友情链接</a>                    　　　　　　　　　　　　　
                        <a href="http://www.dgzh12580.com/sitemap.html" target="_blank">网站地图</a>　|
                        <a href="http://www.dgzh12580.com/Clause.html">服务条款</a>　|
                        <a href="#" target="_blank">问题反馈</a>
                    </div>
                    <br />
                    <div class="flogo">
                        <a href="http://www.dgzh12580.com/"><img alt="卓汇网络科技有限公司" src="../../ImgSources/FrameWorkimages/flogo.png"/></a>
                    </div>
                    <div class="f_con">
                        <p>东莞市卓汇网络科技有限公司 版权所有 2010-2014 
                            <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备14011592号-1</a>
                        </p>
                        <p>地址：东莞市厚街镇珊美大道39号2-3层 卓汇网络科技有限公司  电话：0769-33358478</p>
                        <p>诚征媒体合作  &gt;&gt;   征求友情链接  &gt;&gt;   合作网站列表&gt;&gt;</p>
                    </div>
                </div>
            </div>
            
        </div>


    </div>
    </form>
</body>
</html>
