﻿/*input 
{
    color:#4800ff; padding:5px;  vertical-align:middle; 
}
input[type=text] {
    width:250px;font-size:18px;
}*/
/*input[type=password] {
    width:250px;
}*/
body {
    width:100%; height:100%; margin:0px; padding:0px;position:absolute; background:#fff;
}

/*顶端工具栏*/
#topToolBar {
    background:url( ../../ImgSources/FrameWorkimages/bg_02.gif ); height:35px; float:right; padding:0px 5px; width:auto; border-radius:0px 0px 0px 5px;
}
#topToolBar input {
     font-size:13px; min-width:0px; padding:0px;
}
#topToolBar .tbtn{
    cursor:pointer;
    padding:6px 10px; color:#fff;background:none; border:1px solid #000; font-weight:500; margin:0px 2px;
}
#topToolBar .tbtn0{
    cursor:pointer;background:url( ../../ImgSources/FrameWorkimages/bg_08.gif ); border-radius:50%;
    padding:6px; color:#fff;border:1px solid #000; font-weight:500; margin:0px 2px;
}
#topToolBar .tbtn0:hover {
    background:#2a2a2a
}
#topToolBar .tbtn:hover {
    background:url( ../../ImgSources/FrameWorkimages/bg_08.gif );
}


/*页头LOGO*/
.titleImg {
    height:auto;margin:0px auto; margin-top:52px; padding:0px; text-align:center
}


/*导航菜单*/
#menulist {
    float:none; height:35px;list-style:none; margin:0px auto; float:none; width:942px
}
#menulist li {
    float:left; vertical-align:middle; line-height:35px; border-right:1px solid #555; 
}
#menulist li:hover {
    background:url( ../../ImgSources/FrameWorkimages/bg_08.gif ); cursor:pointer; border-right:1px solid #ff9400;
}
.menulistitemHover {
     background:url( ../../ImgSources/FrameWorkimages/bg_08.gif ); cursor:pointer; border-right:1px solid #ff9400;
}
#menulist a,#menulist a:hover,#menulist a:active,#menulist a:active {
    color:#fff;font-weight:900;text-decoration:none; height:35px;display:block; padding:0px 20px;
}
#MainPageHost{
    width:auto; min-height:300px;
}



/*页脚部分*/
#footerbg {
    margin:0px -50px;vertical-align:bottom;
}
#footerbg a {
    text-decoration:none; color:#000; 
}
.footnavigation {
    clear:both; vertical-align:middle; text-align:center; width:100%; background:url(../../ImgSources/FrameWorkimages/bg_25.gif); margin:0px auto;line-height:40px; position:relative; z-index:0; border-top:1px dashed #999
}
.f_con {
    font-size:12px; color:#999;clear:both;background:#262626; z-index:-1;position:relative; text-align:center; margin-top:-62px;padding:80px 0px 60px 0px
}
.flogo {
    text-align:center; width:140px; float:none; margin:0px; margin:0px auto; margin-top:-78px; z-index:1; position:relative;
}