﻿<%@ Master Language="C#" MasterPageFile="~/Frameworks/Client.Master" AutoEventWireup="true" CodeBehind="ClientHome.master.cs" Inherits="kehui.Frameworks.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">卓汇网络-首页</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
        <!--主要内容-->
        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>

    <div>
        <!--新闻-->
        <asp:ContentPlaceHolder ID="NewsContent" runat="server"></asp:ContentPlaceHolder>
    </div>
    <script>
        document.getElementById("menu_Home").className = "menulistitemHover";
    </script>
</asp:Content>
