﻿
#RichEditPanel/*REP: RichEditBox最外层Div*/
{
    min-width:1010px; height:auto; border:1px solid #888;
    width:100%;
    position:static;
    font-size: 20px;
    overflow:visible;
}

#IFrameEditPanel 
{
    height:550px; width:100%;
}

#REPdoc 
{
    width: 100%;
    height: 100%;
    background: #fff;
    max-height: none;
    overflow: visible;
    border: none;
    border-top: 1px solid #888;
    padding: 0px;
    margin: 0px 0px auto 0px;
}

#RichEditPanel textarea {
width: 100%;
background: #fff; overflow:auto;
border:none; 
min-height: 170px;
max-height: 40%;
}

#nextblock li {
list-style: decimal;
}
        
input[type=button] {
padding: 5px 8px;
min-width: 50px;
font-size: 20px;
border: none;
text-align: center;
vertical-align: middle;
background: #888;
color: #000; /*颜色*/
}

input[type=button]:hover {
border: 1px solid;
border-color: #000;
}


.MidImgBtn 
{
margin: 5px;  background:#888; height:48px; width:48px;
float: right; 
}
.MidImgBtn:hover {
    background:#fff;
}
.MidImgBtnCircle
{
    margin: 5px;  background:#888; height:48px; width:48px;
    float: right; border-radius:50%;
}
.MidImgBtnCircle:hover {
    background:#fff;
}

#REPtopbar {
background: #888;
}

#REPtopbar img {
height: 28px;
width: 28px;
}

#REPtopbar img:hover {
    background: #ccc;
}

#REPtopbar img:active {
    background: white;
}

#REPtoolbar {
background: white; float:none;clear:both;
}

#REPtoolbar img {
height: 48px;
width: 48px;
}

#REPtoolbar img:hover {
    background: #ccc;
}

#REPtoolbar img:active {
    background: #888;
}

#REPOperateState {
    color:#000000; margin:0px 10px; vertical-align:middle; font-size:12px; padding:10px 0px; float:right
}

#REPOperateState span {
    padding:0px 10px 0px 5px; margin:0px; font-size:12px; color:#000; font-weight:500; cursor:progress;
}

#faceListPanel {
background: #fff;
}

#faceListPanel img {
height: 30px;
width: 30px;
margin: 5px 2px;
}

.ColorBlock {
height: 20px;
width: 25px;
float: left;
margin: 1px;
vertical-align: middle;
}

.SetPanel {
background: #888;
color: white;
height: auto;
padding: 10px;
font-size: 20px;
min-height: 150px;
border-bottom: 1px solid #fff;
color: #000;
}

.SetPanel hr 
{
    float: none; 
    clear: both; opacity: 0.1;
    height: 1px;
    padding: 0px;
    margin: 3px 0px;
}

.SetPanel .Title {
font-size: 25px; margin:0px 12px;
}

.SetPanel .Content {
padding: 5px 10px 20px 15px;
}

.ImgButton {
    height: 35px;
    width: 35px; background:#ccc; border-radius:50%;
}

.ImgButton:hover {
background: #fff;
}

.SetPanel select {
padding: 2px 5px;
vertical-align: middle;
background: #888;
color: #000;
border: 1px solid #000;
width: 200px;
}

.SetPanel option {
font-size: 25px;
width: 200px;
}

#imgfilelist img {
height: 64px;
width: auto;
margin: 5px 10px;
}

.TitleImg {
height: 35px;
width: 35px;
}

.SetPanel input[type=file] {
display: none;
visibility: collapse;
}