﻿#sharedata {
    list-style:none;
}
#sharedata h1 {
    color:#fff;
}
#sharedata li {
    padding-top:5px;
}
#sharedata label {
    font-size:18px; margin:5px 0px
}
#sharedata .loadMore {
    text-align:center; font-size:18px; margin-top:15px; padding:8px 0px; background:#333
}
#sharedata .loadMore:active {
    border:1px solid #fff;
}
#sharedata .download {
    float:right; height:32px; width:32px; background:#888; border-radius:50%; margin:2px;
}
#sharedata .download:hover {
        background:#FFF;
}