﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ShareData_Admin.aspx.cs" Inherits="MyWebSite.AuthorData.ShareData_Admin" MasterPageFile="~/Masters/Default.Master"%>
<asp:Content runat="server" ContentPlaceHolderID="head">资源共享</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
<script src="script/AjaxGetShareDataToLiAdmin.js"></script>

    <script>
        function GetMoreData() //加载更多数据
        {
            GetShareDataToli("sdloadstate", "sharedata", document.getElementById("sharedata").childElementCount);
        }
    </script>
    <div>
        <%--<span style="position:fixed; height:auto; width:auto; padding:5px 8px; right:0px; background:#b6ff00">12/20</span>--%>
        <br />
        <ul id="sharedata" style="margin:0px;padding:0px">
            <li id="sdloadstate" onclick="GetMoreData()" class="loadMore">···加载更多数据···</li>
        </ul>
    </div>
    <script>
        GetMoreData()
    </script>
</asp:Content>
