﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Asp读取xlsx.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <style>
            input {
                font-size:15px;border:1px solid #000; vertical-align:middle;padding:5px 10px; margin:2px; 
            }
        </style>
        <asp:FileUpload runat="server" ID="file1"/><asp:Button runat="server" Text="上传" OnClick="Unnamed_Click"/>
    </div>
    </form>
</body>
</html>
