﻿html {
            overflow: hidden;
        }

        body {
            margin: 0px;
            padding: 0px;
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: crosshair;
        }

        /*图片列表条*/
        #box {
            position: absolute;
            border: gray solid 0px;
            visibility: hidden;
        }

        /*主要显示区域*/
        #screen {
            position: absolute;
            left: 0px;
            width: 100%;
            top: 10%;
            height: 80%;
            border: gray solid 0px;
        }

        /*图片样式*/
        #box img {
            position: absolute;
            border: gray solid 0px;
            cursor: pointer;
        }

        /*图片相关信息（标题和注释）显示区域*/
        #box span {
            position: absolute;
            color: #ccc;
            font-family: verdana;
            font-size: 12px;
            width: 200px;
        }

        /*超链接样式*/
        #box a {
            text-decoration: none;
            color: #ff8000;
        }
        
        /*超链接样式*/
        #box a:hover {
            text-decoration: none;
            background: #ff8000;
            color: #ffffff;
        }
        
        /*超链接样式*/
        #box a:visited {
            text-decoration: none;
            color: #ff8000;
        }
        
        /*超链接样式*/
        #box a:visited:hover {
            text-decoration: none;
            background: #ff8000;
            color: #ffffff;
        }

        /*图片超链接设置区域*/
        #lnk {
            visibility: hidden;
        }