﻿#NewsListPanel ul 
{
float:left; margin:5px; list-style:none; padding:0px; background:#808080; color:#fff; border-radius:5px; box-shadow:rgba(0,0,0,0.4) 10px 0px inset; width:250px;
}
#NewsListPanel li {
font-size:15px; padding:8px 15px; border-radius:5px 5px 0% 0%;
}
#NewsListPanel li:first-child {
background:#0094ff; color:#fff; font-size:20px;text-align:center;
}
#NewsListPanel a, a:active {
color:inherit; text-decoration:none; font-size:inherit;
}
#NewsListPanel a:hover {
text-decoration-color:#fff; text-decoration-line:underline; text-decoration-style:solid;
}