﻿#newsaddForm {
    list-style:none; background:#ffffff
}
#newsaddForm input[type=text] {
    width: 260px; font-size: 18px; vertical-align: middle; padding: 5px
}
#newsaddForm li {
    padding:5px 0px; width:100%;
}
#newsaddForm textarea {
    width:255px; margin:0px; height: 90px; overflow:auto
}
#newsaddForm select {
    width: 260px; font-size: 18px; vertical-align: middle; padding: 5px
}
#NewsType {
    display:none; visibility:collapse;
}