﻿
<div id="screen">
    <link href="Sources_V2.0/StyleSheet1.css" rel="stylesheet" />
    <script src="Sources_V2.0/JavaScript1.js"></script>
	<div id="box">
        <img src="Sources_V2.0/home.jpg" title="首页" alt="欢迎访问OmArea.Com测试版页面" />
        <img src="Sources_V2.0/zuozhe.jpg" title="作者" alt="查看作者最细动态，来看看有什么值得发现的东西吧" />
        <img src="Sources_V2.0/wenzhang.jpg" title="文章" alt="精彩的原创或转载文章，丰富内容，会有你想要找的" />
        <img src="Sources_V2.0/works.jpg" title="作品" alt="来自作者的小聪明，一起来吐吐槽打发一下时间啦" />
        <img src="Sources_V2.0/shareData.jpg" title="资源" alt="来自站长提供的精华资源集，说不定会有一两样喜欢的东西哦！" />
        <img src="Sources_V2.0/about.jpg" title="关于" alt="了解本网站相关信息，如果你对此感兴趣的话" />
		<span id="txt"></span>
		<span id="tit"></span>
		<span id="lnk">
            <a href="">OmArea.Com/Index.html</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href="">OmArea.Com/AuthorData/ShareData.aspx</a>
            <a href="">OmArea.Com/AboutInfo/Site.html</a>
		</span>
	</div>
</div>


<!--<%--加载进度--%>-->
<span id="LB0" style="position: absolute; left: 50%; top: 50%;">
    <span style="position: absolute; font-family: arial; font-size: 10px; color: #FFFFFF; left: -50px; top: -18px">
        加载中…
    </span>
    <span style="position: absolute; left: -50px; top: -5px; font-size: 1px; width: 100px; height: 10px; background: #333">
        <span id="LB1" style="position: absolute; left: 0px; top: 0px; font-size: 1px; width: 0px; height: 10px; background: #FFFFFF"></span>
    </span>
</span>
<script>
    m00 = document.getElementById("box").getElementsByTagName("img");
    m01 = m00.length;
    function images_loading_bar() {
        m02 = 0;
        for (i = 0; i < m01; i++) m02 += (m00[i].complete) ? 1 : 0;
        document.getElementById("LB1").style.width = Math.round(m02 / m01 * 100) + 'px';
        if (m02 == m01)
            setTimeout("document.getElementById('LB0').style.display='none'", 128);
        else
            setTimeout("images_loading_bar()", 64);
    };
    images_loading_bar();
</script>