﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="kehui.Client.Account.Login" MasterPageFile="~/Frameworks/ClientSubpage.Master"%>

<asp:Content runat="server" ContentPlaceHolderID="head">登陆到卓汇网络</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">

    <div>
        <h1>请替换本部分内容为登陆功能</h1>
        <h2>在Seesion["UID"]中的值不为NULL表示已经登陆</h2>
    </div>

</asp:Content>