﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Register.aspx.cs" Inherits="kehui.Client.Account.Register" MasterPageFile="~/Frameworks/ClientSubpage.Master"%>

<asp:Content runat="server" ContentPlaceHolderID="head">加入卓汇网络</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">

    <div>
        <h1>请替换本部分内容为注册功能</h1>
    </div>

</asp:Content>