﻿/*默认风格
    color:#000;
    background:#fba100
    background:rgba(255,255,255,0.5)
*/

*{
    color:#000;
}
html
{
    min-width:450px; margin:0px; padding:0px; height:100%; width:100%;
}
body
{
    color:#000;background:#fba100;
    margin:0px; width:100%; 
}
input[type=button]
{
    padding:5px 8px; min-width:50px;font-size:20px;
        border: 1px solid rgba(101, 168, 15,0);
    text-align: center;
    vertical-align: middle;
    
    background:rgba(255,255,255,0.5);
        color: #000;/*颜色*/
}
input[type=button]:hover
{
    border: 1px solid #fba100;
        border-color: #000;
}
li
{
    list-style:none; padding:5px;
}
li:hover 
{
    list-style:none; cursor:default; 
    color:#fba100;
    background:rgb(255,255,255)
}
li a:link
{
    color:#000;
    border:none; 
    text-decoration:none; 
}
li a:visited,li a:active
{
    color:inherit;
}
li a:hover
{
    color:#fba100;
    border:none;
}
li ul
{
    display:none;
}      
li:hover ul 
{
    display:block;
}
#topmenu {
    font-size: 25px;
    margin: 0px;
    top: 0px;
    padding-top: 8px;
    position: fixed;
    width: 100%;
    z-index: 65535;
    background: rgba(255,255,255,0.5);
}
#topmenu li /*一级菜单项*/
{
    margin:0px 10px 0px 0px; min-width:65px; text-align:center; float:left;
}
#topmenu li ul/*二级菜单*/
{
    background:inherit;
    color:#fff;
    padding:0px; text-align:center;
}
#topmenu li ul li/*二级菜单项*/
{
    margin:0px; font-size:15px;
    padding:5px 0px; float:none;
    width:inherit;
}
a{
    color:#000;
    text-decoration:none;
}
a:active, a:visited {
    color:#fff
}
a:hover {
    color:#fff
}
#MainPageHost 
{
    position:absolute;left:30px; right:30px; top:30px; bottom:10px;
}



/*登陆框*/
#loginPanel {
    margin: 75px auto;
    width: 400px;
    padding: 20px;
}
.inputBoxBorder {
    padding: 5px;
    vertical-align: middle;
    margin: 5px;
}
.ShortTextBox {
    font-size: 20px;
    padding: 0px;
    border: 0px;
    border: none;
    display: block;
    text-align: left;
    min-width: 250px;
    vertical-align: middle;
    ime-mode: disabled;
        background: transparent; color: #000; border-color: #000;/*颜色*/
}
.SmallTextButton {
        border: 1px solid #fba100;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
        background: #888; color: #000;/*颜色*/
}
.SmallTextButton:hover {
        border: 1px solid rgba(255,255,255,0.8);
            border-color: #000;
    }
.SmallIcon {
    float: left;
    vertical-align: middle;
    height: 48px;
    width: 48px;
}
#loginPanel td {
    width: auto; padding:5px;
    text-align:center;   
    background:rgba(255,255,255,0.5);
    color:#000;/*颜色*/
}
#loginState
{
    text-align:left; 
        color:#000;/*颜色*/
}
.otherlink
{
        border:none; text-decoration:none; 
            color:#000;/*颜色*/
}
.otherlink:visited,.otherlink:active
{
    color:white;/*颜色*/
}
.otherlink:hover
{
    border:none;
            color:#333;/*颜色*/
}




















/*UserCenter*/
#Dynamic{
    width:100%; margin:0 auto; height:85%;  overflow:visible;
}
#Dynamic h1,#Dynamic h2{
    padding-left:20px;
    color:#000; 
    cursor:help;
}
#Dynamic .LeftBlock{
    float:left; width:50%;min-height:100%;
}
#Dynamic .RightBlock{
    float: left; width: 49.9999%;
}
#Dynamic .MiniBlock{
    /*height: 33%;*/
        padding: 10px; margin-left:10px; 
    background:rgba(255,255,255,0.5);
         margin-bottom:10px
}
#Dynamic .BigBlock{
    /*height: 50%;*/ 
    padding: 10px; 
    background:rgba(255,255,255,0.5);
    margin-bottom:10px;
}
#Dynamic .BottonLink{
    right:10px; position:relative; display:block; text-align:right;font-size:12px; font-weight:700; clear:both;
}

#Dynamic .WebSiteQuickLinks{
    padding:0px 10px;
}
.WebSiteQuickLinks a{
    width:75px; text-align:center; vertical-align:middle; font-size:12px; height:85px; padding-bottom:5px; display:inline-block;
}
.WebSiteQuickLinks img{
    height:72px; width:72px; margin-bottom:3px;
}
.WebSiteQuickLinks img:hover{
    background:rgba(255,255,255,0.5);
}

#Dynamic #TimeLines li{
    margin-top:20px;
}
#Dynamic #TimeLines .LineDateTime{
    float:right;vertical-align:top; width:19.999%; font-weight:800; font-size:15px; text-align:right;
}
#Dynamic #TimeLines .clear{
    clear:both;  height:0px; padding:0px; margin:0px; border:none;
}
#Dynamic #TimeLines .LineLeftBlock{
    width:80%; float:left; 
}
#Dynamic #TimeLines .LineTitle{
    font-size:20px; font-weight:800;
}
#Dynamic #TimeLines .LineContent{
    padding:5px 5px 0px 5px; font-size:13px;
}
#Dynamic .UserInfo{
    margin:0 auto; height:70%; text-align:left; padding:10px;
}
#Dynamic .UserInfoRow{
    font-size:16px;padding:10px 5px;font-weight:700
}
#Dynamic .UserInfoRow_Img{
    height:225px;  margin:0px;width:225px; padding:0px;border:none; margin-top:10px;
}
#Dynamic .UserInfoBlock{
    display:inline-block;vertical-align:top;text-align:left; padding-left:10px;
}



/*Dynamic*/
#Dynamic .NewDynamicHeader{
    font-size:20px; font-weight:900; padding-bottom:10px;
}
#Dynamic .NewDynamicContent{
    width:100%; margin:0 auto; padding:5px;
}
#Dynamic .NewDynamicTitle{
    width:300px; margin:0 auto; padding:5px; float:left;
}
#Dynamic .NewDynamicSubMit{
    width:75px; float:right; text-align:center;
}


/*UserData.aspx*/
#UserDataDetails {
    text-align: left; padding: 30px;
}
#UserDataDetails .headerImgStyle{
    float: left; height: 200px; width: 200px;
}
#UserDataDetails .UserdataTop{
    padding: 30px; float: none; clear: both;
}
#UserDataDetails .UserdataTop .One{
    padding: 0px 20px; text-wrap: avoid; float: left; max-width: 400px;
}
#UserDataDetails #dataDetailsRows{
    padding: 30px; float: none; clear: both;
}
#UserDataDetails #dataDetailsRows hr{
    opacity: 0.05; height: 10px; margin: 15px 0px;
}
#UserDataDetails #dataDetailsRows span{
    font-size: 20px
}
#UserDataDetails .Detailsfooter{
    padding: 30px; float: none; clear: both;
}
#UserDataDetails .Detailsfooter a{
    font-size: 20px;
    border: none; color: white
}


/*UserDataEdit*/
#UserDataDetailsEdit {
    text-align: left; padding: 30px;
} 
#UserDataDetailsEdit .headerImgStyle{
    float: left; height: 200px; width: 200px;
}
#UserDataDetailsEdit .UserdataTop{padding: 30px; float: none; clear: both;
}
#UserDataDetailsEdit .UserdataTop .One{
    padding: 0px 20px; text-wrap: avoid; float: left; max-width: 400px;
}
#UserDataDetailsEdit #dataDetailsRows{
    padding: 30px; float: none; clear: both;
}
#UserDataDetailsEdit #dataDetailsRows hr{
    opacity: 0.05; height: 10px; margin: 10px 0px;
}
#UserDataDetailsEdit #dataDetailsRows span{
    font-size: 20px; vertical-align:middle; padding:5px;
}
#UserDataDetailsEdit #dataDetailsRows span input,.One input[type=text]{
    font-size: 20px;margin:0px; vertical-align:middle; border:none; 
    border-bottom:1px solid #000; padding:0px;
    background:none; 
    color:#000; 
    width:300px;
}
#UserDataDetailsEdit .Detailsfooter{
    padding: 30px; float: none; clear: both;
}
#UserDataDetailsEdit .Detailsfooter input{
    font-size: 20px; 
    border: none; color: white
}




/*ShareData*/

#sharedata {
    list-style:none;
}
#sharedata h1 {
    color:#fff;
}
#sharedata li {
    padding-top:5px;
}
#sharedata label {
    font-size:18px; margin:5px 0px
}
#sharedata .loadMore {
    text-align:center; font-size:18px; margin-top:15px; padding:8px 0px; 
    background:rgba(255,255,255,0.5)
}
#sharedata .loadMore:active {
    border:1px solid #fff;
}
#sharedata .download {
    float:right; height:32px; width:32px; 
    background:rgba(255,255,255,0.5);border-radius:50%; margin:2px;
}
#sharedata .download:hover {
        background:#FFF;
}






/*添加和编辑页面（通用）*/

#DocTitle {
font-size: 25px;
font-weight: 800;
text-align: center;
padding: 10px;
vertical-align: middle;
}

#DocTitleText {
border: none;
border-bottom: 1px solid rgba(255,255,255,0.5);
vertical-align: middle;
width: 400px;
vertical-align: middle;
font-size: 25px;
padding: 0px;
background: none;
color: #000;
}

#DocDocument {
padding: 10px;
}

#DocDateTime {
text-align: center;
font-size: 12px;
}









/*文章列表*/
#DocDataList{
    list-style:none;
}
#DocDataList li{
    padding:10px; margin-top:10px; display:block; clear:both;
    border-bottom:1px solid rgba(255,255,255,0.5);
}
#DocDataList .TitleText{
        font-size:18px; font-weight:800; 
}
#DocDataList .DocText{
    font-size:13px; font-weight:600;
}
#DocDataList .RightPanel{
    float:right; vertical-align:middle;padding:10px; text-align:center; width:60px;
}
#DocDataList .RightPanel a{
    margin-bottom:10px;display:inline-block;
}
#DocDataList .loadMore {
    text-align:center; font-size:18px; margin-top:15px; padding:8px 0px; 
    background:rgba(255,255,255,0.8); border:none;
}





/*项目列表*/
 #WorkDataList{
    list-style:none; display:block; clear:both;float:none; margin:0 auto;
    background:rgba(255,255,255,.05);
    padding:0px; padding-top:10px;
}
#WorkDataList li{
    padding:10px; display:inline-block;
    text-align:left; margin:0px; width:auto; margin-bottom:10px; margin-left:10px;  
    background:rgba(255,255,255,0.8)
}
#WorkDataList li img{
    height:96px; width:96px; float:left; margin-right:5px;vertical-align:top;
}
#WorkDataList li .TileTitle{
    font-size:15px; font-weight:800;
}
#WorkDataList li .TileText{
    font-size:12px; font-weight:500; margin-top:7px
}
#WorkDataList li .RightBlock{
    float:left; width:180px;
}
#WorkDataList li .DeleteBlock{
    float:right; 
}
#WorkDataList li .DeleteBlock a{
    padding-bottom:5px; padding-left:5px; display:block;
}
#WorkDataList li:last-child{
    float:none;display:block;clear:both; width:inherit;text-align:center; margin:0px; position:relative; bottom:0px;
}