﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="kehui.Default" MasterPageFile="~/Frameworks/AdminHome.master"%>

<asp:Content runat="server" ContentPlaceHolderID="MainContentHost">
    <h1>管理面板主页面</h1>
</asp:Content>