﻿/*添加和编辑页面（通用）*/

#DocTitle {
font-size: 25px;
font-weight: 800;
text-align: center;
padding: 10px;
vertical-align: middle;
}

#DocTitleText {
border: none;
border-bottom: 1px solid #808080;
vertical-align: middle;
width: 400px;
vertical-align: middle;
font-size: 25px;
padding: 0px;
background: none;
color: #808080;
}

#DocDocument {
padding: 10px;
}

#DocDateTime {
text-align: center;
font-size: 12px;
}









/*文章列表*/
#DocDataList{
    list-style:none;
}
#DocDataList li{
    padding:10px; margin-top:10px; display:block; clear:both;
    border-bottom:1px solid #808080;
}
#DocDataList .TitleText{
        font-size:18px; font-weight:800; 
}
#DocDataList .DocText{
    font-size:13px; font-weight:600;
}
#DocDataList .RightPanel{
    float:right; vertical-align:middle;padding:10px; text-align:center; width:60px;
}
#DocDataList .RightPanel a{
    margin-bottom:10px;display:inline-block;
}
#DocDataList .loadMore {
    text-align:center; font-size:18px; margin-top:15px; padding:8px 0px; background:#333; border:none;
}





/*项目列表*/
 #WorkDataList{
    list-style:none; display:block; clear:both;float:none; margin:0 auto; background:#111;padding:0px; padding-top:10px;
}
#WorkDataList li{
    padding:10px; display:inline-block;  text-align:left; margin:0px; width:auto; margin-bottom:10px; margin-left:10px;  background:#333;
}
#WorkDataList li img{
    height:96px; width:96px; float:left; margin-right:5px;vertical-align:top;
}
#WorkDataList li .TileTitle{
    font-size:15px; font-weight:800;
}
#WorkDataList li .TileText{
    font-size:12px; font-weight:500; margin-top:7px
}
#WorkDataList li .RightBlock{
    float:left; width:180px;
}
#WorkDataList li .DeleteBlock{
    float:right; 
}
#WorkDataList li .DeleteBlock a{
    padding-bottom:5px; padding-left:5px; display:block;
}
#WorkDataList li:last-child{
    float:none;display:block;clear:both; width:inherit;text-align:center; margin:0px; position:relative; bottom:0px;
}