﻿<script src="MessageDialog.mini.js"></script>
<!--<script src="MessageDialog.js"></script>
<link href="MessageDialog.css" rel="stylesheet" />-->
<script>
    var dialog = DialogObj( '你需要确认此操作', 'asda大打算打算官方的官方公布', function (r) {
        alert("用户选择结果："+r);
        dialog = null;
    });
    dialog.ShowDialog();
</script>