﻿
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.float-right {
    float: right;
}

.fa {
    font-size: .8em;
    line-height: 22px !important;
}

.DialogBoxdropdown {
    display: inline-block;
    position: absolute;
}

    .DialogBoxdropdown:hover {
        box-shadow: 1px 2px 3px #c9d8d5;
    }

    .DialogBoxdropdown label, .DialogBoxdropdown ul li {
        display: block;
        width: 110px;
        /*background: #ECF0F1;*/
        padding: 15px 20px;
    }

    .DialogBoxdropdown ul li {
        background: #ECF0F1;
        border-left: 4px solid #ECF0F1;
    }

    .DialogBoxdropdown:hover label {
        border-left: 4px solid #ECF0F1;
        background: #ECF0F1;
    }

    .DialogBoxdropdown label:hover {
        background: #1ABC9C;
        color: white;
        cursor: pointer;
    }

    .DialogBoxdropdown ul li:hover {
        cursor: pointer;
        border-left: 4px solid #1ABC9C;
    }

    .DialogBoxdropdown ul li:active {
        background: #1ABC9C;
        color: white;
    }

    .DialogBoxdropdown label {
        color: #1ABC9C;
        border-left: 4px solid #1ABC9C;
        border-radius: 6px 0px 0 0;
        position: relative;
        z-index: 2;
    }

    .DialogBoxdropdown input {
        display: none;
    }

        .DialogBoxdropdown input ~ ul {
            position: relative;
            visibility: hidden;
            opacity: 0;
            top: -20px;
            z-index: 1;
        }

        .DialogBoxdropdown input:checked + label {
            background: #1ABC9C;
            border-left: 4px solid #1ABC9C;
            color: white;
        }

        .DialogBoxdropdown input:checked ~ ul {
            visibility: visible;
            opacity: 1;
            top: 0;
        }

    .DialogBoxdropdown:hover ul {
        visibility: visible;
        opacity: 1;
        top: 0;
    }

    .DialogBoxdropdown:hover input:checked + label {
        border-left: 4px solid #1ABC9C;
    }

.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome and Safari */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
}


.DialogBoxBackGround {
    position: absolute;
    z-index: 99998;
    overflow: hidden;
    background: rgb(20,220,150);
    background: rgba(20,220,150,0.9);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    left: 0px;
    top: 0px;
}

.DialogBox {
    margin: 0 auto;
    top: 5%;
    position: absolute;
    min-width: 350px;
    color: #5bb9d5;
    z-index: 99999;
    text-align: left;
    max-width: 60%;
    border-radius: 6px;
    box-shadow: 4px 4px 15px #5bb9d5;
    background: #eaeaea;
    /*background:#1ABC9C;*/
}

.DialogBoxTopBtn {
    padding: 5px 8px;
    vertical-align: middle;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
}

    .DialogBoxTopBtn:hover {
        background: #aa0000;
        color: #fff;
        box-shadow: 0px 0px 2px #aa0000;
    }

.DialogBoxClose {
    border-right: 5px solid #aa0000;
    border-radius: 0 5px 0 0;
}

.DialogBoxMove {
    font-size: 1em;
}

.DialogBoxClose:hover {
    border-radius: 0 6px 0 2px;
}

.DialogBoxMove:hover {
    border-radius: 0 0 2px 2px;
}

.DialogBox input:checked + .DialogBoxMove {
    background: #1ABC9C;
}

.DialogBoxYes {
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    min-width: 50px;
    background: #1ABC9C;
    float: right;
    margin-right: 30px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: -1px -1px 2px #1ABC9C;
}

.DialogBoxNo {
    min-width: 50px;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    box-shadow: -1px -1px 2px #aa0000;
    background: #aa0000;
    float: right;
    margin-right: 30px;
    font-size: 1.2em;
}

.DialogBoxYes:active {
    box-shadow: 0px 0px 2px #1ABC9C;
}

.DialogBoxNo:active {
    box-shadow: 0px 0px 2px #aa0000;
}

.DialogBox .header {
    /*color:#1ABC9C;*/
    color: #5bb9d5;
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
    margin-left: 110px;
    vertical-align: middle;
    display: inline-block;
    font-weight: 700;
}

.DialogBox .DialogArticle {
    padding: 10px 30px;
    display: block;
    max-height: 300px;
    min-height: 150px;
    /*text-indent: 2em;*/
    line-height: 150%;
    overflow: auto;
}

.DialogBoxHr {
    box-shadow: -1px -1px 1px #aaa;
    background: #aaa;
    display: block;
    clear: both;
    border: 1px;
    height: 1px;
    margin: 0px;
    padding: 0px;
}

.DialogBoxHrTop {
    box-shadow: 1px 1px 1px #aaa;
}

.DialogBoxWatermark {
    z-index: 0;
    font-size: 20px;
    color: rgb(204, 228, 220);
    color: rgba(20,220,150,0.2);
    float: left;
    font-weight: 900;
    margin-left: 10px;
}

.DialogAbout, .DialogSetting {
    display: none;
    max-height: 300px;
    min-height: 150px;
}

    .DialogAbout .DialogAboutline {
        padding: 10px 30px;
    }

        .DialogAbout .DialogAboutline a {
            text-decoration: none;
        }

.DialogBoxBackGround .DialogDateTime {
    font-size: 50px;
    font-family: 'Segoe UI';
    font-weight: 600;
    opacity: 0.5;
    color: #fff;
    padding-top: 20px;
    position: relative;
}

.DialogSetting .DialogSettingLine {
    padding: 10px 30px;
}