﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PassReset.aspx.cs" Inherits="MyWebSite.UserPages.PassReset" MasterPageFile="~/Masters/Default.Master"%>
<asp:Content ContentPlaceHolderID="head" runat="server">密码找回</asp:Content>
<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>暂时不提供此功能</h1>
</asp:Content>